@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* global start */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: calc(clamp(2.875rem, 1.488vw + 2.339rem, 4.125rem));
  font-weight: 600;
}
h2 {
  font-size: calc(clamp(2rem, 1.414vw + 1.491rem, 3.188rem));
  font-weight: 400;
  color: #333c44;
}
h3 {
  font-size: calc(clamp(2rem, 0.446vw + 1.839rem, 2.375rem));
  font-weight: 600;
}
h4 {
  font-size: 21px;
  font-weight: 600;
  color: #333c44;
}
h5 {
  font-size: 21px;
  font-weight: 400;
  color: #81b441;
}
h6 {
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: #54595f;
}
.cs-btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #81b441;
  color: #ffffff;
  padding: 15px 43px;
  border-radius: 30px;
}
.cs-btn:hover {
  background-color: #7aa841;
  color: #ffffff !important;
}
.ct-120 {
  padding-top: 120px;
}
.cb-120 {
  padding-bottom: 120px;
}

.cp-60 {
  padding: 60px 0;
}
.ct-60 {
  padding-top: 60px;
}
.cb-60 {
  padding-bottom: 60px;
}
.ct-40 {
  padding-top: 40px;
}
.cb-40 {
  padding-bottom: 40px;
}
.c-gap {
  display: flex;
  flex-direction: column;
}
/* global end */
/* top info start */
#topInfo {
  background-color: #003c71;
  padding: 10px;
}
.topingos-content {
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}
a.topinfo-content {
  color: #ffffff;
  font-size: calc(clamp(0.938rem, 0.223vw + 0.857rem, 1.125rem));
  font-weight: 500;
  transition: all 0.3s ease;
}
.topinfo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topinfo-content img {
  max-width: 12px;
  padding-bottom: 3px;
  margin-right: 5px;
}
.topinfo-box {
  gap: 0 38px;
  flex-direction: row;
  justify-content: start;
}
.topinfo-box-2 {
  gap: 0 38px;
  flex-direction: row;
}
.topinfo-content {
  font-size: calc(clamp(0.438rem, 0.446vw + 0.277rem, 0.813rem));
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.topinfo-content:hover {
  color: #81b441;
  text-decoration: none;
}
/* top info end */
/* nav styles start */
.navbar {
  background-color: #ffffff;
  padding: 4px 0;
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}
.navbar-expand-lg .navbar-nav {
  gap: 0 12px;
}
.navbar-brand {
  margin-top: -8px;
  margin-right: 50px;
  width: 130px;
}
.nav-item {
  margin: auto;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #333c44;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.activex {
  font-size: 18px;
  font-weight: 500;
  color: #81b441;
}
.nav-link:hover {
  color: #81b441;
}

.nav-btn {
  margin: 20px 10px;
}
.navbar-nav .nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.oc-logo {
  padding-bottom: 24px;
}
.text-reset i {
  font-size: 20px;
}
.oc-copy p {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
}
.offcanvas-body {
  overflow-x: hidden;
  position: relative;
}
.oc-copy {
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 25px;
}
/* nav styles end */
/* hero start */
#hero {
  background: url(../images/hero-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-row {
  min-height: 650px;
}
.hero-content {
  align-items: flex-start;
  gap: 20px 0;
}
.hero-content h1 {
  color: #ffffff;
}
.hero-content p {
  color: #ffffff;
}
/* hero end */
/* features start */
#features {
  margin-top: -59px;
}
.features-row {
  gap: 20px 0;
}
.features-single {
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  gap: 16px 0;
  padding: 32px;
}
.features-icon {
  max-width: 35px;
  margin: 0 auto;
}
/* features end */
/* about start */
.info svg {
  min-width: 21px;
  margin-right: 20px;
}
.alert-cs {
  background-color: #f5f8fc;
  border-radius: 5px;
}
.alert-cs svg {
  fill: #81b441;
}
.alert-cs h6 {
  color: #81b441;
}
.about-content {
  align-items: flex-start;
  gap: 20px 0;
}
/* about end */
/* achivement start */

.achivement-row {
  padding-top: 40px;
}
.achivement-heading {
  align-items: center;
  gap: 20px 0;
}
.achivement-content {
  gap: 20px 0;
}
.counter {
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.counter-content {
  padding: 20px 26px;
}
.counter-content span {
  font-family: "Open Sans", sans-serif;
  font-size: 67px;
  font-weight: 600;
  line-height: 1;
  color: #81b441;
}
.counter-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* achivement end */
/* company start */
#company {
}

.company-heading h2 {
  max-width: 60%;
  position: relative;
  padding-bottom: 20px;
}
.company-heading h2::before {
  content: "";
  position: absolute;
  background-color: #81b441;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}
/* company end */
/* cta start */
#cta {
  background: url(../images/cta-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-row {
  min-height: 550px;
  margin: 0 auto;
}
.cta-content {
  gap: 20px 0;
}
.cta-content h2 {
  color: #ffffff;
}
.cta-content p {
  color: #ffffff;
}

.cta-btn {
  width: 200px;
  margin: 0 auto;
}
/* cta end */
/* services start  */
#services {
}
.services-row {
}
.services-heading {
  gap: 20px 0;
}
.service-single {
  min-height: 500px;
  gap: 20px 0;
  padding: 40px;
  margin-bottom: 0;
  justify-content: end;
}
.service-single h6 {
  color: #ffffff;
}
.service-single a {
  margin-top: 20px;
}
.svrc-btn {
  width: 200px;
}
.service-1 {
  background: url(../images/services-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-2 {
  background: url(../images/services-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-3 {
  background: url(../images/services-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-4 {
  background: url(../images/services-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* services end  */
/* discount start  */
#discount {
  background: url(../images/discount-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 172px 0;
}
.dicount-row {
  min-height: 740px;
}
.discount-content {
  background-color: rgba(51, 60, 68, 0.6);
  padding: 120px 60px;
  gap: 30px;
}
.discount-content h4 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff !important;
}
.discount-content h2 {
  position: relative;
  color: #ffffff !important;
  padding-bottom: 20px;
}
.discount-content h2::before {
  content: "";
  position: absolute;
  background-color: #81b441;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}
.dstc-btn {
  width: 180px;
}
/* discount end */
/* choose start */
#choose {
  background: url(../images/chooseBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.choose-heading {
  gap: 20px 0;
}
.choose-row {
  margin-top: 80px;
}
.choose-icon {
  max-width: 40px;
  margin: 0 auto;
}
.choose-single {
  padding: 32px;
  gap: 16px;
}
/* choose end  */
/* testimonial start  */
#testimonial {
}
.testimonial-bgimg {
  position: relative;
  z-index: -1;
}
.testimonial-bgimg {
}

.testimonial-below-img {
  position: absolute;
  z-index: -10;
  bottom: -50px;
  left: -10px;
}
#testimonial-content {
  margin-top: -510px;
}
.testimonial-content {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  background: #fff;
  border-radius: 5px;
}
.testimonial-content > h6 {
  color: #81b441;
}
.testimonial-content > h2 {
  padding: 20px 0;
}
.hr-testimonial {
  width: 50px;
  opacity: 1;
  height: 0px;
  border: none;
  border-top: 4px solid #81b441;
}
.testimonial-para {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.testimonial-para p {
  width: 86%;
  color: #0000007c;
  text-align: center;
}
.comma-img {
  background-color: #0071c5;
  height: 80px;
  width: 80px;
  border-radius: 5px 5px 5px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testomonial-profile h6 {
  padding-top: 25px;
}
.testomonial-profile p {
  color: #81b441;
}
/* testimonial end */
/* insight start  */
#insight {
}
.insight-heading {
  gap: 20px;
  margin-bottom: 50px;
}
.insight-single {
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.insight-image {
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
.insight-single:hover .insight-image img {
  transition: 0.6s all ease-in-out;
  transform: scale(1.1);
  border-radius: 5px 5px 0px 0px;
}
.insight-image img {
  border-radius: 5px 5px 0px 0px;
  min-width: 100%;

  transition: 0.6s all ease-in-out;
}

.insight-content {
  padding: 34px 32px;
  gap: 13px;
}
.insight-content a {
  font-weight: 600;
  color: #333c44;
  font-size: 21px;
  text-decoration: none;
  transition: 0.3 all ease-in-out;
}
.insight-content a:hover {
  color: #81b441;
  transition: 0.3 all ease-in-out;
}
.insight-content h6 {
  font-size: 13px;
  font-weight: 400;
  color: #81b441;
}
/* insight end  */
/* sponsor start */
#sponsor {
  background-color: #f5f8fc;
  padding: 35px 0;
}
/* sponsor end */
/* quote start */
#quote {
  background-color: #0071c5;
  padding: 50px 0;
}
.quote-content h3 {
  font-size: calc(clamp(1.875rem, 0.595vw + 1.661rem, 2.375rem));
  color: #ffffff !important;
}
/* quote end */
/* footer start */
#footer {
  background-color: #003c71;
  padding: 50px 0;
}
.footer-col-1 {
  gap: 20px 0;
}
.footer-col-1 p {
  color: #ffffff;
}
.footer-social {
  flex-direction: row;
  gap: 0 5px;
}
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  gap: 10px 0;
  justify-content: center;
}
.footer-col-2 ul,
.footer-col-3 ul,
.footer-col-4 ul {
  padding-left: 0;
}
.footer-col-2 h6,
.footer-col-3 h6,
.footer-col-4 h6 {
  color: #ffffff;
  font-weight: 600;
}
.footer-list {
  gap: 10px 0;
}
.footer-list img {
  margin-right: 10px;
  max-width: 7px;
}
.footer-list a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}
.footer-list a:hover {
  color: #81b441;
}
ul li {
  list-style: none;
}
/* footer end */
/* copyright start */
#copyright {
  background-color: #ffffff;
  padding: 24px 0;
}
.copyright-content a {
  font-size: 13px;
  color: #54595f;
  margin-bottom: 0;
  text-decoration: none;
}
.copyright-content p {
  font-size: 13px;
  color: #54595f;
  margin-bottom: 0;
}
.copyright-list {
  flex-direction: row;
  justify-content: end;
  gap: 0 20px;
}
.copyright-content {
  flex-direction: row;
  justify-content: start;
  gap: 0 20px;
}
.copyright-list a {
  font-size: 13px;
  text-decoration: none;
  color: #333c44;
}
.copyright-list img {
  margin-right: 10px;
  max-width: 7px;
}
/* copyright end */

/* ------------------------about us page ------------------------ */

/* banner  */
#banner {
  background: url(../images/subBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-row {
  padding: 80px 0;
  color: #fff;
}
.arrow {
  color: #7aa841;
  margin: 0 5px;
}
.banner-row p {
  color: #fff;
}
.banner-row h2 {
  color: #fff;
  font-weight: 600;
}
/* banner end  */
/* about start  */
.about-row h4 {
  color: #7fca35;
}
.achivement-heading {
  max-width: 636px;
  margin: 0 auto;
}
.company-heading2 h2 {
  max-width: 426px;
  position: relative;
  padding-bottom: 20px;
}
.company-heading2 h2::before {
  content: "";
  position: absolute;
  background-color: #81b441;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}
/* about end  */
/* services start */

.service-single2 h3 {
  font-size: 28px;
}
.service-single h3,
.service-single p {
  color: #ffffff;
  margin: 0;
}
.service-5 {
  background: url(../images/s5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-6 {
  background: url(../images/s6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-7 {
  background: url(../images/s7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.service-img {
  background: #7fca35;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.service-img img {
  max-width: 28px;
}
/* services end  */

/* single service page start  */
#single-hero {
  background: url(../images/singlebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: -10;
}
#single-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-color: #003c71;
  z-index: -1;
}

.feature-banner-content {
  text-align: center;
  align-items: center;
}
#feature-banner {
  background: url(../images/featurebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

/* single service end  */

/*----------------------- movingPlanner page start ---------------------------------------- */
#process {
  background: url(../images/chooseBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.process-content {
  margin: 0 0 0 60px;
}
#process-content {
  margin: 0 60px 0 0px;
}
.process-content h5 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.process-content h2 {
  margin: 20px 0;
  max-width: 570px;
}

.process-content ul {
  padding-left: 0;
}
.process-content ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #54595f;
}

/* -------------------contact page start ----------------------- */
.form-content {
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 5px;
}

form label {
  color: #54595f;
  font-weight: 700;
}

.form-control {
  background-color: #f5f8fc;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.form-control:focus {
  background-color: #f5f8fc;
  box-shadow: none;
}

.location-card {
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.location-card h3 {
  color: #7fca35;
}
.location-card p {
  color: #54595f;
}

.location-card a {
  color: #54595f;
  display: block;
  text-decoration: none;
}

#map iframe {
  display: block;
}
